.pagintion-button-container {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border-width: 0.2rem 0 0;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
  transition: 0.2s;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.active {
    color: #0056b3;
    text-decoration: none;
    background-color: #d1dce6;
    border-color: #dee2e6;
    transition: .5s;
}
